<mat-card *ngIf="pokemon" class='pokemon'><!--pokemonが存在したらこのmat-cardを表示。-->
    <img src="https://github.com/HSR-19/pokemon-books/blob/master/src/assets/thumbnails/{{ pokemon.id | number: '3.0'}}.png?raw=true">
    <p>{{ pokemon.name }}</p>
    <p>{{ pokemon.type }}</p>
    <p>たいりょく：{{ pokemon.base.HP }}</p>
    <p>こうげき：{{ pokemon.base.Attack }}</p>
    <p>ぼうぎょ：{{ pokemon.base.Defense }}</p>
    <p>とくこう：{{ pokemon.base.Sp_Attack }}</p>
    <p>とくぼう：{{ pokemon.base.Sp_Defense }}</p>
    <p>すばやさ：{{ pokemon.base.Speed }}</p>
</mat-card>