<mat-tab-group animationDuration="0ms">
    <mat-tab label="カントー"><pokemon-list-kanto></pokemon-list-kanto></mat-tab>
    <mat-tab label="ジョウト"><pokemon-list-johto></pokemon-list-johto></mat-tab>
    <mat-tab label="ホウエン"><pokemon-list-hoeen></pokemon-list-hoeen></mat-tab>
    <mat-tab label="シンオウ"><pokemon-list-hoeen></pokemon-list-hoeen></mat-tab>
    <mat-tab label="イッシュ"><pokemon-list-hoeen></pokemon-list-hoeen></mat-tab>
    <mat-tab label="カロス"><pokemon-list-hoeen></pokemon-list-hoeen></mat-tab>
    <mat-tab label="アローラ"><pokemon-list-hoeen></pokemon-list-hoeen></mat-tab>
    <mat-tab label="ガラル"><pokemon-list-hoeen></pokemon-list-hoeen></mat-tab>
</mat-tab-group>
