<mat-tab-group animationDuration="0ms">
    <mat-tab label="カントー"><pokemon-list-kanto></pokemon-list-kanto></mat-tab>
    <mat-tab label="ジョウト"><pokemon-list-johto></pokemon-list-johto></mat-tab>
    <mat-tab label="ホウエン"><pokemon-list-hoeen></pokemon-list-hoeen></mat-tab>
    <mat-tab label="シンオウ"><pokemon-list-sinnoh></pokemon-list-sinnoh></mat-tab>
    <mat-tab label="イッシュ"><pokemon-list-unova></pokemon-list-unova></mat-tab>
    <mat-tab label="カロス"><pokemon-list-kalos></pokemon-list-kalos></mat-tab>
    <mat-tab label="アローラ"><pokemon-list-alola></pokemon-list-alola></mat-tab>
    <mat-tab label="ガラル"><pokemon-list-galar></pokemon-list-galar></mat-tab>
</mat-tab-group>
